* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: #2d2d2d;
  font-family: Arial, Helvetica, sans-serif;
}

section.all {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.inputs {
  display: flex;
  margin: 0.5rem;
  align-items: center;
  gap: 0.8rem;
}

input {
  max-width: 300px;
  background-color: #404040;
  box-shadow: 0px 0px 0px #404040;
  font-size: 1rem;
  width: 250px;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  padding: 0.3rem;
  transition: all 0.5s ease;
  color: gray;
}

input:hover {
  box-shadow: 1px 1px 5px gray;
}

button {
  background-color: gray;
  border: none;
  padding: 0.25rem 0.6rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
button:active {
  scale: 0.99;
}



.allNotes {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.note-wrapper {
  background-color: gray;
  display: flex;
  padding: 1rem 0.5rem;
  border-radius: 0.2rem;
  width: 290px;
  overflow: hidden;
  justify-content: center;
  gap: 6rem;
  align-items: center;
  height: 4rem;
  align-items: center;
  box-shadow: 1px 1px 7px gray;
  position: relative;
}

.title {
  font-size: 1rem;
  font-style: italic;
}

.desc {
  font-style: italic;
  font-size: 0.9rem;
}

.remove {
  position: absolute;
  background-color: rgb(230, 66, 99);
  right: 0;
  bottom: 0;
  padding: 0.2rem 0.3rem;
  font-size: 0.9rem;
}
.remove:active{
  scale: 0.95;
}

@media (max-width: 700px) {

  .allNotes {
    flex-direction: column;
  }

  form {
    flex-direction: column;
    gap: 0;
  }

  .inputs {
    flex-direction: column;
  }

}